<div style="margin: 40px;">
    <h1>Task Selected</h1> 
</div>

<div class="container">
    <h3><%= @task.title %></h3><br>
    <h5><%= @task.details %></h5><br>
</div>
<hr>

<%= link_to "Task List", tasks_path %>